/*
* @Author: web1804gz
* @Date:   2018-07-09 19:31:27
* @Last Modified by:   web1804gz
* @Last Modified time: 2018-07-09 19:38:04
*/
*{margin: 0;padding: 0}
h1{color: red;}
p{color: blue;}
h5{color:yellow;}
